
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    justify-content: center;
    align-items: center;
    width: 1100px;
    position: relative;
    top: 5px;
    font-family: 'Syne', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    padding: 10px;
    
}

.header-left {
    align-items: left;
    font-size: .9rem;
}

.header-right {
    align-items: right;
    padding: 0 0 0 250px;
}

.logo {
    padding: 5px;
}

h1 {
    font-size:1.5rem;
    font-weight: bold;
}

h2 {
    font-size: .7rem;
    font-weight: bold;
    display: inline;
    position: relative;
    top: -20px;
    left: 20px;
    
    
}

h3 {
    color: maroon;
    font-size: .7rem;
    text-align: left;
}

h4 {
    line-height: 23px;
    text-align: left;
    font-size: 1.05rem;
}

h5 {
    line-height: 23px;
    text-align: left;
    font-size: .9rem;
    padding: 0 0 20px 0;
}

p {
    font-size: .9rem;
    line-height: 20px;
    text-align: left;
    font-weight: normal;
}

.columns {
    column-count: 3;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 40px;
    min-height: 570px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    
}

.features {
    column-width: 300px;
    border: solid 1px black;
    padding: 5px;
}

.features-img1 {
    max-width: 100%;
}

.reviews {
    column-width: 200px;
    border: solid 1px black;
    padding: 5px;
}

.reviews-img1 {
    max-width: 100%;
}

.reviews-img2 {
    max-width: 100%;
    padding: 20px 0 0 0;
}

.news {
    column-width: 200px;
    border: solid 1px black;
    padding: 5px;
}
